<div class="bgGradient dark" style="display: none;" id="darkGradient"></div>
<div class="bgGradient gradient-orange" id="subGradient"></div>
<div class="bgGradient gradient-blue" id='topGradient'></div>
<div class="wrap-outer">
  <div class="wrap">
    <app-header></app-header>
    <main class="container">
      <router-outlet></router-outlet>
      <p-toast position="center" key="center" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div class="p-flex p-flex-column mt-5" style="flex: 1">
            <div class="text-center">
              <p class="mb-4"><i class="far fa-check-circle fa-3x text-success"></i></p>
              <p>{{message.summary}}</p>
            </div>
          </div>
        </ng-template>
      </p-toast>
      <p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
          <div class="p-flex p-flex-column" style="flex: 1">
            <div class="p-text-center">
              <h4><i class="fas fa-bell"></i> {{message.summary}}</h4>
              <p>{{message.detail}}</p>
            </div>
            <div class="p-grid p-fluid">
              <div class="p-col-6">
                <button type="button" pButton (click)="onConfirm()" label="Répondre présent" class="p-button-success"></button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </main>
  </div>
</div>
